body {
    background: black url(../../assets/images/colorfulabstract.jpg) no-repeat 50% 50% fixed;
    color: #999999;
}
.jumbotron {
    background: rgb(0, 0, 0, 0.3);
}
.card {
    display: inline-flex;
    background: rgb(0, 0, 0, 0.7);
}
.card-body {
    padding: 10px;
}
.card-body p {
    margin-bottom: 10px;
}
.card-img-top {
    cursor: pointer;
}
button {
    margin: 3px;
}
.gif-container {
    background: rgb(0, 0, 0, 0.3);
}